@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;500&family=Roboto:wght@100;300;500;700&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.background-page{
    background: linear-gradient(-65deg, #9bc387 0%, #9bc387 50%, #90bc79 50%, #90bc79 100%);
}
.section1{
    background-image: url(img/bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0 100px 60px 100px;
}
.header{
    display: flex;
    padding: 20px 40px 60px 40px;
    justify-content: space-between;
}
a{
    font-size: 1.2em;
    font-family: 'Roboto';
    font-weight: 500;
    margin: 0px 15px 0px 15px;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.907);
}
a:hover{
    color: rgba(255, 255, 255, 0.928);
}
.shop{
    background-color: rgba(0, 0, 0, 0.891);
    color: rgb(255, 237, 221);
    padding: 10px;
    border-radius: 10px;
}
.nav-title{
    font-size: 2em;
    font-family: 'Montserrat';
    font-weight: bold;
    color: rgba(255, 255, 255, 0.928)
}
.main-header{
    display: flex;
    justify-content: space-around;
    text-align: left;
    padding: 15vh 0 0 0;
}
.image-header{
    width: 30em;
}
.text-header{
    place-self: center;
}
.header-subtitle{
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 1.5rem;
}
.header-title{
    font-family: 'Roboto';
    font-weight: bolder;
    font-size: 4rem;
    color: white;
}
.header-title > span{
    font-family: 'Roboto';
    font-weight: 100;
    font-size: 4rem;
    color: black;
}
.header-text{
    color: white;
    font-family: 'Roboto';
    font-weight: 200;
    padding-bottom: 40px;
    letter-spacing: 1px;
}
.button-header{
    font-family: 'Roboto';
    font-weight: 100;
    border-radius: 5px;
    padding: 10px 15px 10px 15px;
}
.buynowheader{
    background-color: rgba(0, 0, 0, 0.765);
    color: rgba(255, 255, 255, 0.921);
    padding: 14px 15px 14px 15px;
}
.contactusheader{
    border: 3px solid rgba(0, 0, 0, 0.87);
    font-weight: 400;
    font-size: 1.2em;
    font-family: 'Roboto';
    font-weight: 500;
    margin: 0px 15px 0px 15px;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.907);
}
/* SECCION 2*/
.boxes{
    display: flex;
    justify-content: center;
    gap: 2em;
}
.box{
    background: linear-gradient(-65deg, #9bc387 0%, #9bc387 50%, #90bc79 50%, #90bc79 100%);
    padding: 0.5em;
    margin-top: 4em;
    margin-bottom: 6em;
    width: 20em;
    height: 11em;
}
.text{
    display: flex;
    flex-direction: column;
    border: 2px solid rgba(255, 255, 255, 0.253);
    height: 100%;
    justify-content: center;
    padding: 1em;
}
.icon{
    width: 4em;
    margin: 0 auto;
}
.shampoo{
    display: flex;
}
.title{
    font-size: 1.5em;
    font-family: 'Roboto';
    text-align: center;
    color: rgba(255, 255, 255, 0.884);
    padding-top: 1em;
}
.shampoo{
    display: flex;
    justify-content: center;
    padding: 2em;
}
.imagesec2{
    width: 30em;
}
.textsec2{
    width: fit-content;
    align-self: center;
}
.titletext2{
    font-family: 'Roboto';
    font-weight: 200;
    font-size: 2.4em;
}
.titletext2 > span{
    color: #91bc79;
    font-family: 'Roboto';
    font-weight: 700;
}
.ptextsec2{
    width: 30em;
    font-family: 'Roboto';
    font-weight: 300;
    line-height: 1.4em;
    color: #959597;
    padding-bottom: 1em;
}
.shopsec2{
    background-color: rgba(144,188,121,255);
    color: rgb(255, 237, 221);
    padding: 0.6em;
    border-radius: 10px;
    margin: 0 auto;
    
}
/*Seccion 3*/
.section3{
    background-image: url(img/bg.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px 0 100px 0;
    display: grid;
    grid-template-columns: 1fr 1fr ;

}
.promotion-sec3{
    padding: 20px;
    margin: 0 auto;
    place-self: center;
    background-color: rgba(255, 255, 255, 0.928);
}
.line-promotion{
    text-align: center;
    padding: 25px;
    border: 2px solid #90bc798d;
}
.sec3-subtitle{
    font-family: 'Roboto';
    font-weight: 300;
    padding: 10px;
    color: rgba(0, 0, 0, 0.877);
}
.sec3-title{
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 40px;
}
.sec3-price{
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 70px;
    color: #90bc79;
    padding: 20px
}
.sec3-product{
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 25px;
}
.sec3-text{
    font-family: 'Roboto';
    font-weight: 100;
    font-size: 20px;
    padding: 10px;
}
.line-promotion > .sec3-countdown{
    font-family: 'Roboto';
    display: flex;
    justify-content: space-around;
    padding: 1em;
    font-size: 2em;
    line-height: 1em;
}
h1 > .days{
    font-size: 1.2rem !important;
    color: gray;
    font-weight: 200;
}

.img-section3{
    width: 45em;
    place-self: center;
    padding-left: 87px;
    padding-right: 87px;
    padding-top: 25px;
    padding-bottom: 25px;
}
.shopsec3{
    background-color: #90bc79;
    padding: 0.7em;
    border-radius: 10px;
    color: #ffffffd5;
}
/* Seccion 4 */
.topsection4{
    text-align: center;
    padding-top: 7em;
}
.title-section4{
    font-family: 'Roboto';
    font-size: 3em;
    font-weight: 300;
}
.title-section4 > span{
    font-weight: bolder ;
    color: #90bc79; 
}
.subt-section4{
    font-family: 'Roboto';
    font-size: 0.9em;
    font-weight: 300;
    color: #888888;
}
.main-section4{
    display: flex;
    padding-top: 4em;
    justify-content: center;
    padding-bottom: 4em;
    position: relative;
    right: 2em;
}
.leftmain-section4{
    display: flex;
    flex-direction: column;
    gap: 3em;
    justify-content: center;
}
.item-lm-section4{
    display: flex;
}
.img-section4{
    width: 6em;
    height: 6em;
    align-self: center;
}
.centermain-section4{
    width: 30em;
}
.line-section4{
    width: 4em;
    border: 0.1em solid #90bc7980;
    position: relative;
    top: -10px;
    left: 18px;
}
.title-i-lm-section4{
    font-family: 'Roboto';
    padding: 1em;
}
.subtitle-i-lm-section4{
    padding-top: 1em;
    font-family: 'Roboto';
    font-weight: 300;
    position: relative;
    top: -10px;
    left: 18px
}
.rightmain-section4{
    display: flex;
    flex-direction: column;
    gap: 3em;
    justify-content: center;
}
.item-rm-section4{
    display: flex;
}
.title-i-rm-section4{
    font-family: 'Roboto';
    padding: 1em;
}
.subtitle-i-rm-section4{
    padding-top: 1em;
    font-family: 'Roboto';
    font-weight: 300;
    position: relative;
    top: -10px;
    left: 18px
}

/* Seccion 5 */
.section5{
    background-image: url(img/bg.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.title-sec5{
    font-family: 'Roboto';
    text-align: center;
    padding-top: 3em;
    font-size: 3em;
    font-weight: 300;
}
.title-sec5 > span{
    font-weight: bolder;
    color: #fff;
}
.texttop-sec5{
    text-align: center;
    font-family: 'Roboto';
    font-weight: 300;
    padding: 1em;
    color: rgba(255, 255, 255, 0.928);
}
.line-image-sec5{
    border: 2px solid rgba(255, 255, 255, 0.452);
    border-radius: 50%;
    max-width: max-content;
    padding: 2em;
    margin: 0 auto;
}
.line-image-sec5 > img{
    width: 3em;
    display: flex;
    margin: 0 auto;
}
.items-sec5{
    padding: 2em;
    display: flex;
    justify-content: space-around;
}
.item-sec5 > h2{
    font-family: 'Roboto';
    text-align: center;
    padding-top: 1em;
    color: #ffffff;
    padding-bottom: 0.2em;
}
.line-sec5{
    margin: 0 auto;
    width: 5em;
    border: 1px solid rgba(189, 255, 189, 0.445);
    place-items: center;
}
.textitem-sec5{
    text-align: center;
    padding-top: 0.2em;
    font-family: 'Roboto';
    font-weight: 300;
    color: #fff;
}
/* Seccion 6 */
.section6{
    padding: 5em;
}
.title-section6{
    font-family: 'Roboto';
    font-weight: 300;
    text-align: center;
    padding-top: 2em;
    font-size: 3em;
}
.title-section6 > span{
    font-weight: 500;
    color: #90bc79;
}
.subt-section6{
    font-family: 'Roboto';
    font-weight: 300;
    color: #888888;
    text-align: center;
}
.products-sec6{
    display: flex;
    justify-content: space-around;
    padding: 3em 0 3em 0;
}
.rating-sec6{
    display: flex;
    justify-content: center;
}
.rating-sec6 > img{
    width: 7em;
}
.rating-sec6 > p{
    font-family: 'Roboto';
    font-size: 0.8em;
    position: relative;
    top: 2px;
    right: -4px;
}
.img-product-sec6{
    display: flex;
    margin: 0 auto;
    padding-bottom: 1em;
}
.product-name-sec6{
    font-family: 'Roboto';
    text-align: center;
    padding: 1em 0 0.3em 0;
}
.product-price-sec6{
    font-family: 'Roboto';
    text-align: center;
    color: #90bc7c;
    padding-bottom: 0.5em;
}
.product-sec6 > a{
    color: #90bc7c;
    display: grid;
    width: max-content;
    margin: 0 auto;
    border: 3px solid #90bc7c;
    border-radius: 10px;
    padding: 0.4em;
}
/*Seccion 7*/
.section-7{
    background-image: url(img/bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.sect7-title{
    padding: 2em 0 0 0 ;
    text-align: center;
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 2.5em;
}
.sect7-title > span{
    font-weight: bold;
    color: #fff;
}
.sect7-subtitle{
    text-align: center;
    padding: 1em 0 1em 0;
    font-family: 'Roboto';
    font-weight: 300;
    color: #fff;
}
.image-border{
    display: flex;
    margin: 0 auto;
    border: 2px solid rgba(255, 255, 255, 0.298);
    width: max-content;
    padding: 0.5em;
    border-radius: 50%;
}
.image-border > img{
    border-radius: 50%;
}
.client-text-sec7{
    text-align: center;
    padding: 1em 0 0 0;
    font-family: 'Roboto';
    font-weight: 300;
    color: #ffffffe7;
}
.client-name-sec7{
    text-align: center;
    padding: 0.5em 0 0 0;
    font-family: 'Roboto';
    color: rgba(0, 0, 0, 0.788);
}
.profess-sec7{
    text-align: center;
    font-family: 'Roboto';
    color: #ffffffe3;
    font-weight: 300;
    padding: 0 0 1em 0;
}
.numbers-sec7{
    display: flex;
    justify-content: center;
    gap: 2em;
    padding-bottom: 4em;
}
.white-number{
    border: 3px solid rgba(255, 255, 255, 0.194);
    padding: 5px 10px 5px 10px;
    border-radius: 50%;
    color: rgba(255, 255, 255, 0.809);
    font-family: 'Roboto';
}
.black-number{
    border: 3px solid rgba(112, 112, 112, 0.58);
    background-color: rgba(0, 0, 0, 0.758);
    padding: 5px 10px 5px 10px;
    border-radius: 50%;
    color: rgba(255, 255, 255, 0.809);
    font-family: 'Roboto';
}
/*Seccion 8*/
.section8{
    padding: 5em;
}

.title-blog{
    font-family: 'Roboto';
    font-weight: 300;
    text-align: center;
    padding-top: 2em;
    font-size: 3em;
}

.title-blog span{
    font-weight: 500;
    color: #90bc79;
}

.blog-text{
    font-family: 'Roboto';
    font-weight: 300;
    color: #888888;
    text-align: center;
    font-size: large;
}

.Articles{
    display: flex;
    justify-content: center;
    gap: 2em;
}

.article{
    padding: 0.5em;
    margin-top: 4em;
    margin-bottom: 6em;
    width: 22.5em;
    height: 32.5em;
    border: 3px solid  #d1e0cb;
    justify-items: center;
}

.img-blog{
    width: 19em;
    height: 13em;
    margin: 0 auto;
    position: relative;
    left: 5%;
    padding-top: 10px;
}

.img-views, .img-comments{
    width: 1em ;
    height: 1em ;
}

.views-comments{
    display: flex;
    margin-left: 1em;
    margin-right: 1em;
    gap: 0.6em;
}

.subtitles-articles{
    font-family: 'Roboto';
    padding: 1em;
    color: #1e3519;
}

.text-articles{
    font-family: 'Roboto';
    font-weight: 300;
    color: #888888;
    position:relative;
    left: 5%;
    padding-bottom: 2em;
}

.article-button{
    font-family: 'Roboto';
    font-weight: 100;
    border-radius: 5px;
    padding: 10px 15px 10px 15px;
    background-color: white;
}

.readmore{
    border: 3px solid  #90bc79;
    font-weight: 400;
    font-size: 1.2em;
    font-family: 'Roboto';
    font-weight: 500;
    margin: 0px 15px 0px 15px;
    text-decoration: none;
    color: #90bc79 ;
}

.text-views-comments{
    font-family: 'Roboto';
    color: #888888;
    font-weight: 100;
}
/* Seccion 9*/
.section-9{
    justify-content: center;
    text-align: center;
    font-family: 'Roboto';
    padding: 5em 0 5em 0;
    background-image: url(img/bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.title-sect9{
    font-weight: 300;
    font-size: 3em;
    color: rgba(0, 0, 0, 0.788);
    padding: 0 0 0.7em;
    
}
.title-sect9 > span{
    color: #fff;
    font-weight: bold;
}
.subtitle-sect9{
    color: #fff;
    font-size: 1.2em;
    padding: 0 0 3em 0;
}
.input-div-sect9{
    display: flex;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.532);
    width: max-content;
    margin: 0 auto;
    padding: 0 1em 0 1em;
    border-radius: 3px;
    border: 3px solid white;
}
.input-sect9{
    height: 3.5em;
    width: 55em;
    border: transparent;
    padding-left: 10px;
    background-color: #ffffff00;
}
.input-div-sect9 > img{
    width: 2em;
}
/*Footer*/

.footer-page{
    display: grid;
    grid-template-columns: 16em 16em 16em 16em;
    font-family: 'Roboto';
    justify-content: center;
    justify-items: center;
    padding: 10em 0 6em 0;
}
.division1-footer > h2{
    font-size: 2em;
    font-family: 'Montserrat';
    font-weight: bold;
    color: #90bc79;
}
.division1-footer > p{
    width: 80%;
    padding: 1.5em 0 0 0;
    color: #00000086;
}
.title-footer{
    padding: 0 0 2em 0;
}
.contactitem-text, .product-items-footer{
    color: #00000098;
    display: flex;
    padding-bottom: 1.3em;
}
.proitem-icon-footer, .contactitem-icon{
    width: 10%;
}
.contantitem-footer{
    display: flex;
    gap: 1em;
}
.contactitem-text{
    position: relative;
    top: 10px;
}
.icon-social-footer{
    display: flex;
    width: 45%;
    position: relative;
    left: 28%;
}
.social-icons{
    display: flex;
    gap: 3px;
    padding-top: 1.4em;
}
.line-item-foot{
    border: 3px solid #90bc79;
    border-radius: 50%;
    padding: 10px 0 10px 0;
    width: 40px;
}
.linea-divisoria-footer{
    width: 80%;
    border: 2px solid ;
    border-color: #90bc795a #90bc7900 #90bc7900 #90bc7900;
    position: relative;
    left: 10%;
    margin-bottom: 1em;
}
.last-footer{
    padding-top: 1em;
    display: flex;
    justify-content: space-between;
}
.last-footer > p{
    font-family: 'Roboto';
}
.lfooter > p{
    display: flex;
    gap: 2px;
    font-family: 'Roboto';
}
.copyfooter{
    color: rgba(0, 0, 0, 0.584);
}
.right-lfooter{
    display: flex;
    gap: 10px;
    color: rgba(0, 0, 0, 0.584);
}