*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.section1{
    background-color: rgb(180, 230, 158);
}

.nav{
    color: #000;
}

.shop{
    background-color: #000;
    color: #ffffff;
}
